<style>


</style>
<script>
  $(function() {
    // Subscribe to receive messages!
    var client = new Faye.Client('http://localhost:9292/faye');
 
    // Our public subscription
    var public_subscription = client.subscribe('/messages/public', function(data) {
       alert("public");
      $('<p></p>').html(data.username + ": " + data.msg).appendTo('#chat_room');
    });
 
    // Our own private channel
    var private_subscription = client.subscribe('/messages/private/<%= current_user.email %>', function(data) {
       alert("private");
      $('<p></p>').addClass('private').html(data.username + ": " + data.msg).appendTo('#chat_room');
    });
 
    // Handle form submission to publish messages.
    $('#new_message_form').submit(function(){
      // Is it a private message?
      if (matches = $('#message').val().match(/@(.+) (.+)/)) {
        client.publish('/messages/private/' + matches[1], {
          username: '<%= current_user.email %>',
          msg: matches[2]
        });
      }
      else {
        // It's a public message
        client.publish('/messages/public', {
          username: '<%= current_user.email %>',
          msg: $('#message').val()
        });
      }
 
      // Clear the message box
      $('#message').val('');
 
      return false;
    });
  });
</script>
<div class="container">
<table class="table">
         <tr><td>
        <div class="chat_container">
             <div id="chat_room">
                 <p class="alert"> Welcome to the chat room <%= session[:username] %>! </p>
            </div>
 
                <form id="new_message_form">
                <input type="text" id="message" name="message">
                <input type="submit" value="Send">
              </form>
        </div>
   </td>

<td>
<table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
           
          </tr>
          </thead>
          <tbody>
          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= index +=1 %></td>
                <td><%= user.email%></td>
              </tr>
          <% end %>

          </tbody>
        </table>
</td>
</tr>
</table>
</div>
