<!DOCTYPE html>
<html>
<head>
  <title>Imapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <%= javascript_include_tag "http://localhost:9292/faye.js" %>
   

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Stylesheets -->
<link rel="stylesheet" href="assets/animate.css">
<link rel="stylesheet" href="assets/bootstrap.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<link rel="stylesheet" href="assets/owl.carousel.css">
<link rel="stylesheet" href="assets/owl.theme.css">
<link rel="stylesheet" href="assets/prettyPhoto.css">
<link rel="stylesheet" href="assets/smoothness/jquery-ui-1.10.4.custom.min.css">
<link rel="stylesheet" href="assets/css/settings.css">
<link rel="stylesheet" href="assets/theme.css">
<link rel="stylesheet" href="assets/colors/turquoise.css" id="switch_style">
<link rel="stylesheet" href="assets/responsive.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700">
<link rel="stylesheet" href="assets/fontawesome-webfont.ttf">
<!-- Stylesheets -->
<!-- Javascripts --> 
<script type="text/javascript" src="assets/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="assets/owl.carousel.min.js"></script> 
<script type="text/javascript" src="assets/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="assets/jquery.nicescroll.js"></script>  
<script type="text/javascript" src="assets/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="assets/jquery-ui-1.10.4.custom.min.js"></script> 
<script type="text/javascript" src="assets/jquery.jigowatt.js"></script> 
<script type="text/javascript" src="assets/jquery.sticky.js"></script> 
<script type="text/javascript" src="assets/waypoints.min.js"></script> 
<script type="text/javascript" src="assets/jquery.isotope.min.js"></script> 
<script type="text/javascript" src="assets/jquery.gmap.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.plugins.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script> 
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>	

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Chatty App</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "imApp", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li>
              <%= link_to "Hi, #{current_user.email}" %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete	  %>
            </li>
        <% else %>
            <li>
              <%= link_to "Signin", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Signup", new_user_registration_path %>
            </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="container">
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 
<%= yield %>
</div>
</body>
</html>
